

a:hover {
	text-decoration: none;
}

html {
	height: 100%;
	min-height: 100%;
}

body {
	background-color: #333;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100%;
	min-height: 100%;
	padding-top: 20px;

}



.page-title-wrap {
	overflow: auto;
	background-color:#0b0b0b;
	color: #000;
	background-image: url('../img/head-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


.netfl-wrap-page {
	float: none;
	max-width: 420px;
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
	padding: 0px;
	min-height: 722px;
	border:#0b0b0b 3px solid;
	

}


.leayer-bg {
	background: ;
}


.page-title {
	width: 200px;
}


.page-title h1 {
	font-size: 20px;
	position: relative;
	padding-top: 20px;
	color: #b8ffd4;
	padding-bottom: 20px;
	margin-top: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}



.page-title-wrap img {
	
}


.page-content {
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 508px;
}


.menu {
	padding-left: 0px;
	margin-bottom: 0px;
	background-color: #10b8b0;
	box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.2);
	position: relative;

}




.menu li {

	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;

}


.menu li a {

	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	opacity: .6;
	position: relative;
}


.menu li a:hover {
	color: #fff;
	text-decoration: none;
	opacity: 1;

}

.menu li a:focus {
	text-decoration: none;
}

ul.menu> li.active> a {
	color: #333!important;
	opacity: 1;
}



ul.menu> li.active  {
	color: #fff!important;
	opacity: 1;
	background-color: #fff;
}

ul.menu> li.active:before {
	position: absolute;
	content: '';
	border-bottom: 5px #fff solid;
	width: 100%;
	height: 100%;
	bottom: 0px;
	left: 0px;
}


.netflapp-wrap {
	padding-top: 20px;
	
}


.wrappp {
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-top: 17px;
	padding-bottom: 10px;
	margin-top: 10px;
}

.wrappp  p  {
	color: #888;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 15px;

}


.owl-carousel img {

}


.wrappp a {
	border-radius: 100%;
	padding: 7px 11px 7px 11px;
	
	color: #fff;
	font-size: 16px;
}

.item {
		-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
margin-bottom: 7px;
}


.owl-prev ,.owl-next {
color: #e50914!important;
font-size: 35px!important;


}


.owl-prev {
	margin-right: 15px;
} 


.owl-next {
	margin-left: 15px;
}


.owl-dots {
	display: none!important;
}

#username_rev {
	height: 50px;
	margin-bottom: 10px;
	margin-top: 15px;
	font-size: 23px;
	border-radius: 4px;
	padding-left: 5px;
	border: none;
	color: #757575;
	text-align: center;
	
	border-radius: 4px;
    border: 1px solid #000;
}


.netflapp-wrap {
	padding-bottom: 20px;
}

.connect-btn-wrap {
	
	
}


.connect-btn-wrap a {
	display: inline-block;
	padding: 10px 10px 10px 10px;
	
	color: #fff;
	font-size: 20px;
	border-radius: 4px;
	background-color: #144162!important;
    border-color: #144162!important;
}


.want-tosee {
	float: none;
}


 ul {
		padding-left: 0px;
		list-style: none!important;
		margin-top: 30px;
}


.netfl-list ul li {
	display: inline-block;
	list-style: none!important;
width: 100%;
margin-bottom: 2px;
background: transparent;
border-radius: 4px;
    border: 1px solid #000;

}

.netfl-list ul li.selected {
	    background: #144162;
}





.netfl-list ul li a {
	display: inline-block;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	margin-bottom: 5px;
	
}











.selected>a>span.free {
	color: #fff;
border-color: transparent #144162 transparent transparent;
}





.plan-name {
	display: block;
	font-size: 17px;
	font-weight: 600;
	color: #fff;

}


.price {
	display: inline-block;
	color: #000;
	font-size: 20px;
	font-weight: 600;

	
}


.rob-img {
	display: inline-block;

}

.free {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: ;
	padding: 7px;
	color: #000;
	font-size: 10px;
	width: 0;
height: 0;
border-style: solid;
border-width: 0 40px 40px 0;
border-color: transparent #144162 transparent transparent;
}

.free-text {
	margin-left: 10px;
	position: relative;
	top: -5px;
	right: -5px;
}

.netflapp-btn-wrap {
	margin-bottom: 20px;
	margin-top: 20px;
}

.netflapp-btn-wrap a {
	display: inline-block;
    padding: 10px 10px 10px 10px;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    background-color: #144162!important;
    border-color: #144162!important;
}


.want-tosee img {
		height: 30px;
		margin-top: -7px;
}


.checkboxes {
	text-align: left;
	width: 210px;
}


.checkboxes input {
	padding: 10px;
}

.step1err h3 {
	text-align: center;
	font-size: 28px;
	color: #fff;
}

.step1err p {
	font-size: 17px;
	text-align: center;
	color: #fff;
}

.step1err h4 {
	font-size: 20px;
	text-align: center;
}

.step2nexterr {
	color: #fff;
	background-color: #e50914;
    border-color: #e50914;
    font-size: 1.4em;
    padding: 8px 21px;
   color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 5px;
  
    
}

.logo-err {
	font-family: 'Anton', sans-serif; 
	color: #000;
	font-weight: 600;
	text-align: center;
	margin-bottom: 30px;
	
}

.logo-err span {
	padding: 15px;
	background-color: #fdfe00;
	border-radius: 3px;
}





#reviews {
	background-image: url(../img/rev-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 10px;
	box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.6);
	overflow: auto;
}


#reviews > .comment-wrap {
	width: 50%;
	margin: 10px;

	padding: 10px;
	background-color: #ffffff;
	border-radius: 5px;
}


.comment-wrap h5 {
	font-weight: 600;
}


#reviews img {
    height: 50px;
    position: relative;
    bottom: 26px;
    left: -6px;
    float: right;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #262626;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #e50914;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #262626;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.connect-progressbar {
	background-color: #10b8b0;

}


.loading > .progress {
	height: 15px;
	border-radius: 5px;
	border:1px solid#000;
	width: 70%;
}


.connecting p {
	color: #2cff5f;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 20px;
}]


body  {
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


.connect-text {
	margin-top: 20px;
}

.verifi {
	display: inline-block;
    padding: 10px 10px 10px 10px;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    background-color: #144162!important;
    border-color: #144162!important;
}

.progress {
	margin-bottom: 5px;
}


.netfl-progress > .progress {
	height: 15px;
	border:#000 solid 1px;
}


.netfl-progress > .progress > .progress-bar {
	background-color: #10b8b0;
}


#netfl-text, #netfl-text2 {
	color: #93cf96;
}


.mfp-close {
	color:  #757575!important;
}

.popup-style {
	 max-width: 350px!important;
	 background-color: #262626!important;
	 color:  #757575!important;

}


hr {
	margin-top: 20px;
    margin-bottom: 45px;
}


.checkboxes i {
	font-size: 30px;
	padding-right: 5px;
}


.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 0px auto;
  margin-bottom: 20px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #144162;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@media only screen and (max-width : 420px) {


body {
	padding-top: 0px;
}

.netfl-wrap-page {
	border-radius: 0px;
}



}



@media (max-width: 760px) {
		


		

}


@media (min-width: 760px) {
		

		
}